@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap');

:root {
    --color-light: #fff;
    --color-primary: #2dd2d2;
    --color-secondary-1: #303030;
    --color-secondary-2: #484848;
}

/* HEADER */
header {
    box-sizing: border-box;
    background-color: var(--color-secondary-1);
    font-family: "Press Start 2P";
    text-align: center;
    display: flex;
    align-items: center;
    height: 15vh;
    min-height: 50px;
    border-bottom: 10px solid var(--color-primary);
    /* border-top: 10px solid var(--color-primary); */
}
header h1 {
    width: 100%;
    font-size: 20px;
    color: var(--color-primary);
}

/* FOOTER */
footer {
    box-sizing: border-box;
    color: var(--color-primary);
    background-color: var(--color-secondary-1);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    border-top: 10px solid var(--color-primary);
}
footer p {
    padding: 10px 4%;
    font-family: 'Russo One';
    margin: 0 2%;
    font-size: 18px;
    letter-spacing: 3px;
    border-bottom: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    border-radius: 0 0 0 5px;
}
footer p:first-child {
    text-align: right;
    border-right: 2px solid var(--color-primary);
    border-left: 0;
    border-radius: 0 0 5px 0;
}


/* MAIN */
main {
    background-color: var(--color-secondary-2);
    height: 70vh;
    min-height: 320px;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* GAME */
#game-container {
    background-color: var(--color-secondary-1);
    height: 50vh; 
    width: 100%;
    min-height: 240px;
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 10px solid var(--color-primary);
    border-radius: 25px;
}

.tower {
    box-sizing: border-box;
    width: 33.33%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 12px;
}
    .tower:hover {
        cursor: pointer;
    }

.x-line {
    width: 90%;
    height: 12px;
    background-color: var(--color-primary);
    border-radius: 5px;
    position: absolute;
    bottom: 0%;
    left: 5%;
}

.y-line {
    width: 12px;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 5px;
    position: absolute;
    bottom: 0%;
    left: calc(calc(100% - 12px) / 2);
}

.piece {
    height: 10%;
    width: 90%;
    border-radius: 5px;
    z-index: 10;
    transition-duration: 0.1s;
    border: 2px solid #333;
    outline: 1px solid #fff;
    margin: 1px 0;
    box-sizing: border-box;
}
.piece-selected {
    transform: translateY(-10px);
}

#game-info {
    background-color: var(--color-secondary-1);
    width: 100%;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#counter {
    box-sizing: border-box;
    width: 35%;
    height: 7vh;
    min-height: 28px;
    background-color: var(--color-secondary-2);
    color: var(--color-light);
    font-family: 'Russo One';
    display: flex;
    border: 2px solid var(--color-light);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    word-spacing: 10px;
    min-width: 110px;
    max-width: 150px;

}

#reset-button {
    box-sizing: border-box;
    min-height: 28px;
    width: 35%;
    height: 7vh;
    background-color: var(--color-secondary-2);
    color: var(--color-light);
    font-family: 'Russo One';
    border: 2px solid var(--color-light);
    font-size: 16px;
    border-radius: 5px;
    min-width: 110px;
    max-width: 150px;
    letter-spacing: 1                                                                                                                            px;
}
    #reset-button:hover {
        background-color: var(--color-primary);
        cursor: pointer;
        transition-duration: 0.2s;
    }

/* Difficulty */
#difficulty {
    font-family: 'Russo One';
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.difficulty-title {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: var(--color-light);
    font-size: 20px;
    letter-spacing: 2px;
}
.difficulty-button {
    font-family: 'Russo One';
    margin: 10px;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--color-secondary-2);
    color: var(--color-light);
    border: 2px solid var(--color-light); 
    width: 70%;
    letter-spacing: 2px;
}
    .difficulty-button:hover {
        background-color: var(--color-primary);
        cursor: pointer;
        transition-duration: 0.2s;
    }

/* Victory PopUP */
#victory-container {
    width: 60%;
    height: 30vh;
    background-color: var(--color-secondary-2);
    position: absolute;
    top: 35%;
    left: 20%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 5px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100px;
    z-index: 20;
}
.victoryText {
    color: var(--color-light);
    font-family: 'Russo One';
    font-size: 20px;
}
.closeButton {
    color: var(--color-light);
    font-family: 'Russo One';
    background-color: var(--color-secondary-1);
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    width: 60%;
}
    .closeButton:hover {
        background-color: var(--color-primary);
        cursor: pointer;
        transition-duration: 0.2s;
        border-color: var(--color-light);
    }

/* MEDIA QUERIES */
@media only screen and (min-width: 568px) {
    header h1 {
        font-size: 26px;
    }
    footer p {
        font-size: 20px;
    }
    #victory-container {
        max-width: 330px;
        left: calc(calc(100% - 330px) / 2)
    }
}

@media only screen and (min-width: 1024px) {
    header h1 {
        font-size: 30px;
    }
    footer p {
        font-size: 24px;
    }
    #difficulty {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .difficulty-title {
        font-size: 25px;
    }
    .difficulty-button {
        width: 20%;
        font-size: 20px;
    }
}